<!DOCTYPE html>

<html>

	<head>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
	<link href="/assets/stylesheet/styles.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<meta charset="UTF-8">
	<title>Rating | Urban Fitness</title>

	</head>

	<div>

	<% include partials/header.ejs %>

	<% include partials/user-navigation.ejs %>

	<div class="main-content">
		<h3>Give your feedback for</h3>
		<a href="/myitems" class="button Back-button"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
		<img src='<%= theItem.imageURL %>' alt="No Image Found">
		<h2><%=theItem.itemName %></h2>
		<h4>Muscle Group : <%= theItem.catalogCategory %></h4>
		<p><%= theItem.Description %></p>


		
		<form class="feedback-updateIt" action="/profile/myitems" method="post">

			<input type="radio" name="TriedIt" value="Yes">Yes
			<input type="radio" name="TriedIt" value="No" checked="checked">No
			<input type="hidden" name="itemCode" value="<%= theItem.itemCode %>">
		    <button class="button Update-button" name="action" value="updateFlag" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i> Update Tried It</button>

		</form>
		
	</div>



	<h4 id="rating-label"> Rate this workout: </h4>

		<form action="/profile/myitems" method="post">

		<div class="feedback-rating">
			<input type="radio" name="star" id="star1" value=5><label for="star1"></label>
			<input type="radio" name="star" id="star2" value=4><label for="star2"></label>
			<input type="radio" name="star" id="star3" value=3><label for="star3"></label>
			<input type="radio" name="star" id="star4" value=2><label for="star4"></label>
			<input type="radio" name="star" id="star5" value=1><label for="star5"></label>
			<input type="hidden" name="itemCode" value="<%= theItem.itemCode %>">
			<button class="button Confirm-Rate-button" name="action" value="updateRating" type="submit"><i class="fa fa-check-circle"></i> Confirm Rating</button>
		</div>
		</form>




	<% include partials/site-navigation.ejs %>
	<% include partials/footer.ejs %>

</body>

</div>
</html>
